<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Veda</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='veda.png') }}?v=2" type="image/png">


</head>
<body>
  <button id="theme-toggle">🌙 Dark Mode</button>

  <div class="chat-container">
    <h2>Ask your Query to Veda</h2>
    <div id="chat-box"></div>
    <div class="input-area">
      <input type="text" id="message" placeholder="Type your question..." />
      <button id="sendBtn">Send</button>
    </div>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <footer>
  Created by <a href="https://www.linkedin.com/in/mausam-chaudhary1611/" target="_blank">Mausam Chaudhary</a> — 
  Veda is a smart AI powered chatbot tool designed to simplify conversations, tasks, and everyday problem-solving.
</footer>

</body>
</html>
